$pirmary-color:  #00183c;
$secondary-color: #f7e1d5;
$button-color: #db946b;
$minor-title-color: #853032;
$text-color:#474747;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC');

h1{
    font-weight: 700;
    font-size: 28px;
}
h2{
    font-weight: 700;
    font-size: 24px;
}
h3{
    font-weight: 600;
    font-size: 20px;
}
h4{
    font-weight: 500;
    font-size: 16px;
}
p,li{
    font-weight: 600;
    font-size: 16px;
}
ul{
    padding-left: 0px;
}
li{
    list-style: none;
}


@mixin decoration-bean($size) {
    content: "";
    background-image: url(../素材/coffee-bean-icon-blue.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: $size;
    height: $size;
    margin-right: 10px;
}

%button {
    width: 180px;
    height: 50px;
    background-color: $button-color;
    color: $pirmary-color;
    font-weight: 700;
    font-size: 24px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}
        
%fixedIcon{
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 24px;
    }
    h4,p,li{
        font-size: 18px;
    }
}