$pirmary-color:  #00183c;
$secondary-color: #f7e1d5;
$button-color: #cf7d5c;
$minor-title-color: #853032;
$text-color:#474747;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap');

@mixin decoration-bean($size) {
    content: "";
    background-image: url(/素材/coffee-bean-icon-05.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    width: $size;
    height: $size;
    margin: auto;
}