$pirmary-color:  #00183c;
$secondary-color: #f7e1d5;
$button-color: #cf7d5c;
$minor-title-color: #853032;
$text-color:#474747;

.navbar{
    background-color: $pirmary-color;
    a{
        color: $secondary-color;
    }
    img{
        width: 200px;
        height: 30px;
    }
    .navbar-toggler-icon {
        width: 45px;
        height: 26px;
        background-image: url(/素材/toggle-icon-03.png);
    }
}
.banner{
    width: 100%;
    position: relative;
    
    img:last-child{
        position: absolute;
        bottom: 10%;
        right: 5%;
    }
}