@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC");
h1 {
  font-weight: 700;
  font-size: 28px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
}

h4 {
  font-weight: 500;
  font-size: 16px;
}

p, li {
  font-weight: 600;
  font-size: 16px;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

.product-beans-container button,
.product-bags-container button, .buy-now button {
  width: 180px;
  height: 50px;
  background-color: #db946b;
  color: #00183c;
  font-weight: 700;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.fixed .messenger-icon, .fixed .line-icon, .fixed .top {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  h4, p, li {
    font-size: 18px;
  }
}

* {
  font-family: "Noto Serif TC", serif;
}

body {
  width: 100%;
  min-width: 320px;
  height: 100vh;
  position: relative;
}

.fixed {
  width: 30px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 10px;
  bottom: 10px;
  left: unset;
}

.fixed .messenger-icon {
  background-image: url(../素材/messenger-brown-06.svg);
}

.fixed .line-icon {
  background-image: url(../素材/line-brown-07.svg);
}

.fixed .top {
  background-image: url(../素材/top-08.svg);
}

main {
  width: 100%;
}

nav {
  z-index: 10;
}

.navbar {
  background-color: #00183c;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.navbar a {
  color: #f7e1d5;
  font-weight: 500;
}

.navbar img {
  width: 200px;
  height: 30px;
}

.navbar .navbar-toggler-icon {
  width: 45px;
  height: 26px;
  background-image: url(../素材/toggle-icon-03.png);
}

.navbar ul {
  margin-right: auto;
}

.logo-pc {
  display: none;
}

.banner {
  width: 100%;
  position: relative;
}

.banner .banner-logo {
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.introduction {
  width: 100%;
  padding-top: 25px;
  margin-bottom: 35px;
}

.introduction h1 {
  text-align: center;
  color: #00183c;
  margin-bottom: 20px;
  line-height: 28px;
}

.introduction h1::before {
  content: "";
  background-image: url(../素材/coffee-bean-icon-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.product-beans-container,
.product-bags-container {
  width: 100%;
  padding: 0 10%;
  margin-bottom: 25px;
}

.product-beans-container .carousel.slide,
.product-bags-container .carousel.slide {
  width: 100%;
  margin-bottom: 25px;
}

.product-beans-container .carousel.slide img,
.product-bags-container .carousel.slide img {
  border-radius: 2%;
}

.product-beans-container .carousel.slide .carousel-control-prev-icon,
.product-bags-container .carousel.slide .carousel-control-prev-icon {
  background-image: url(../素材/next.svg);
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.product-beans-container .carousel.slide .carousel-control-next-icon,
.product-bags-container .carousel.slide .carousel-control-next-icon {
  background-image: url(../素材/next.svg);
}

.product-beans-container .carousel.slide .carousel-indicators li,
.product-bags-container .carousel.slide .carousel-indicators li {
  background-color: #474747;
}

.product-beans-container h2,
.product-beans-container h3,
.product-bags-container h2,
.product-bags-container h3 {
  color: #00183c;
}

.product-beans-container ul,
.product-bags-container ul {
  padding: 0;
}

.product-beans-container li,
.product-bags-container li {
  color: #474747;
}

.product-beans-container ul li::before,
.product-bags-container ul li::before {
  content: "";
  background-image: url(../素材/coffee-bean-icon-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.product-beans-container h4,
.product-bags-container h4 {
  color: #853032;
  font-weight: 700;
  margin-bottom: 20px;
}

.product-beans-container button,
.product-bags-container button {
  margin: 0 auto;
  display: block;
}

.origin {
  width: 100%;
  background-color: #e7e1dc;
  padding: 15px 0;
}

.origin h2 {
  text-align: center;
  color: #00183c;
  margin-bottom: 15px;
}

.origin h2::before {
  content: "";
  background-image: url(../素材/coffee-bean-icon-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.origin .explanation {
  padding: 0 10%;
  display: inline-block;
}

.origin .explanation * {
  color: #853032;
}

.pictures {
  overflow-X: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 25px;
}

.pictures input {
  display: none;
}

.pictures label {
  min-width: 330px;
  height: 185px;
  background-size: cover;
  background-position: center;
  position: unset;
}

.description {
  opacity: 0;
}

.origin-pic01 {
  background-image: url(../素材/產地05.jpg);
}

.origin-pic02 {
  background-image: url(../素材/產地06.jpg);
}

.origin-pic03 {
  background-image: url(../素材/產地01.jpg);
}

.flavor {
  width: 100%;
  padding: 40px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flavor .pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url(../素材/flavor.jpg);
  background-position: 0;
  background-size: cover;
  margin-bottom: 30px;
}

.flavor h2 {
  text-align: center;
  color: #00183c;
}

.flavor h2::before {
  content: "";
  background-image: url(../素材/coffee-bean-icon-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.flavor p {
  color: #00183c;
}

.flavor h4 {
  font-weight: 600;
  color: #853032;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.flavor ul {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.flavor li {
  color: #853032;
}

.flavor li::before {
  content: "";
  background-image: url(../素材/coffee-bean-icon-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  margin-right: 5px;
  background-image: url(../素材/coffee-bean-icon-red-10.svg);
}

.certification {
  padding: 25px 0 35px 0;
  background-color: #c0a898;
}

.certification * {
  color: white;
}

.certification h2 {
  text-align: center;
  margin-bottom: 30px;
}

.certification h2::before {
  content: "";
  background-image: url(../素材/coffee-bean-icon-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url(../素材/coffee-bean-icon-white-09.svg);
}

.certification .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow-x: scroll;
}

.certification .slider::-webkit-scrollbar {
  height: 5px;
}

.certification .slider::-webkit-scrollbar-track {
  margin: 10px;
}

.certification .slider::-webkit-scrollbar-thumb {
  background-color: #853032;
  border-radius: 20%;
  border: 1px solid slategrey;
}

.certification .slider .items {
  display: inline-block;
  margin: 0 10px;
}

.certification .slider h4 {
  text-align: center;
}

.certification .slider img {
  width: 195px;
  height: 272px;
}

.modal-dialog {
  position: relative;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-color: transparent;
  width: 60vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-content img {
  width: 90vw;
  max-width: 435px;
  max-height: 80vh;
}

.modal-title {
  color: white;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.about {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.about-pictures {
  display: none;
}

.swiper {
  width: 80%;
  margin-bottom: 25px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

:root {
  --swiper-theme-color: #f8f9fa;
}

.hand-writing {
  width: 85%;
  -webkit-transform: rotate(-5deg) scale(110%);
          transform: rotate(-5deg) scale(110%);
}

.founders {
  width: 100%;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10vw;
}

.founders h1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 30px;
  color: #00183c;
}

.founders h1::before {
  content: "";
  background-image: url(../素材/coffee-bean-icon-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.founder-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 20px;
}

.profile-pic {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: #a2b9d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-pic img {
  width: 65%;
}

.words {
  justify-self: flex-end;
  margin-left: 20px;
}

.words h4 {
  font-weight: 600;
  color: #00183c;
}

.words p {
  color: #853032;
}

.charity {
  padding: 80px 8% 30px 8%;
  background-color: #efcfbd;
  position: relative;
}

.charity * {
  color: #00183c;
}

.charity h1 {
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  margin-bottom: 15px;
}

.charity h1::before {
  content: "";
  background-image: url(../素材/coffee-bean-icon-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.charity img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 30px;
  border-radius: 2%;
}

.charity h3 {
  margin-bottom: 10px;
}

.charity li {
  line-height: 1.5;
}

.articles {
  background-image: url(../素材/coffee-beans-5928036_1920.jpg);
  background-size: cover;
}

.articles .color {
  padding: 25px 0;
  background-color: rgba(124, 101, 86, 0.8);
  z-index: 1;
}

.articles h1 {
  text-align: center;
  color: white;
  margin-bottom: 15px;
}

.articles h1::before {
  content: "";
  background-image: url(../素材/coffee-bean-icon-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-image: url(../素材/coffee-bean-icon-white-09.svg);
}

.card-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow-x: scroll;
  padding-left: 10px;
}

.card {
  width: 200px;
  min-width: unset;
  margin-right: 10px;
  border: unset;
  border-radius: 5%;
}

.card p {
  display: none;
}

.card-img-top {
  width: unset;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
}

.card-body a {
  color: black;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-weight: 600;
}

.card-body h4 {
  background-color: #f7e1d5;
  font-weight: 600;
  border-radius: 5%;
}

.purchase {
  padding: 25px 10%;
  position: relative;
}

.purchase h1 {
  text-align: center;
  color: #00183c;
}

.purchase h1::before {
  content: "";
  background-image: url(../素材/coffee-bean-icon-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.icon-pair-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icon-pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.icon-pair img {
  width: 80%;
  margin-bottom: 10px;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  position: relative;
}

.steps h3 {
  color: #853032;
  margin-bottom: 5px;
}

.steps h4 {
  color: #474747;
}

.buy-now {
  position: absolute;
  right: 5%;
  bottom: 15%;
}

.buy-now button {
  width: 60%;
  min-height: 20%;
  font-size: 5vw;
}

footer {
  background-color: #604b40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 20px 10%;
}

footer h4 {
  color: #f7e1d5;
  text-align: center;
}

.footer-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.footer-logo {
  width: 40%;
}

.contact {
  width: 40%;
}

.contact h3 {
  color: #f7e1d5;
  text-align: center;
  font-weight: 500;
}

.contact-icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.contact-icon-wrap img {
  width: 20%;
  max-width: 30px;
}

.contact-icon-wrap img:first-child {
  margin-right: 40px;
}

@media (min-width: 768px) {
  body {
    position: relative;
  }
  body .fixed {
    width: 6vw;
    height: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    left: 3vw;
    right: unset;
    z-index: 12;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .fixed div {
    margin: 10px 3px;
  }
  body .fixed .messenger-icon {
    background-image: url(../素材/messenger-white-04.svg);
  }
  body .fixed .line-icon {
    background-image: url(../素材/line-icon-white-14.svg);
  }
  body .fixed .top {
    background-image: url(../素材/top-white-04.svg);
  }
  header {
    width: 100%;
  }
  .navbar-brand {
    margin: 0px;
    padding: 0px;
  }
  .navbar {
    width: 12vw;
    min-width: 90px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5vh 1vw;
  }
  .navbar-expand-md .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
  }
  nav .collapse.navbar-collapse {
    width: 100%;
    min-width: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
  }
  .navbar-toggler {
    display: none;
  }
  .logo-mobile {
    display: none;
  }
  .navbar img.logo-pc {
    width: 8vw;
    height: auto;
    margin-bottom: 5vw;
  }
  .navbar a {
    font-size: min(max(1.5vw, 12px), 24px);
    letter-spacing: 0.2vw;
  }
  main {
    padding-left: 12vw;
    width: 88vw;
  }
  .banner .banner-pic {
    -webkit-transform: scaleX(-100%);
            transform: scaleX(-100%);
  }
  .banner .banner-logo {
    -webkit-transform: scale(70%);
            transform: scale(70%);
    left: 12%;
    bottom: 18%;
  }
  section {
    width: 88vw;
  }
  .introduction {
    padding: calc(5vw - 10px) 0;
  }
  .introduction h1 {
    margin-bottom: 5vw;
  }
  .product-beans-container,
  .product-bags-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .product-beans-container .carousel.slide,
  .product-bags-container .carousel.slide {
    width: 25vw;
    min-width: 320px;
    margin-right: 50px;
  }
  .product-beans-container .carousel-inner,
  .product-bags-container .carousel-inner {
    width: 25vw;
    min-width: 320px;
  }
  .product-beans-container {
    margin-bottom: 100px;
  }
  .product-bags-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .product-bags-container .carousel.slide {
    margin-right: 0;
  }
  .copywrite {
    width: 50vw;
    min-width: 210px;
    max-width: 576px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .copywrite h2 {
    margin-bottom: 10px;
  }
  .copywrite h3 {
    margin-bottom: 20px;
  }
  .copywrite li {
    line-height: 2;
  }
  .copywrite-beans {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .copywrite-bags {
    margin-right: 50px;
  }
  .price-button-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .price-button-wrap button {
    margin: unset;
  }
  .origin {
    padding: calc(5vw - 10px) 0;
  }
  .origin h2 {
    margin-bottom: calc(3vw - 5px);
  }
  .origin .explanation {
    display: none;
  }
  .origin .pictures {
    width: 100%;
    overflow-x: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .origin .pictures label {
    min-width: 50vw;
    height: 28vw;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    position: relative;
    border-radius: 2%;
  }
  .origin .pictures label::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
  }
  .description {
    width: calc(25vw + 20px);
    opacity: 1;
    position: absolute;
    left: 5%;
    bottom: 5%;
  }
  .description h3,
  .description p {
    color: white;
    font-weight: 500;
  }
  .description h3 {
    font-size: min(max(1.5vw, 12px), 24px);
  }
  .description p {
    font-size: min(max(1.5vw, 12px), 18px);
  }
  .origin-pic01,
  .about01 {
    position: relative;
    left: 40%;
  }
  .origin-pic03,
  .about03 {
    position: relative;
    right: 40%;
  }
  #picture-1:checked ~ .origin-pic01,
  #about-pic-1:checked ~ .about01 {
    z-index: 2;
    -webkit-transform: translateX(30%) scale(1);
            transform: translateX(30%) scale(1);
  }
  #picture-1:checked ~ .origin-pic01::before,
  #picture-2:checked ~ .origin-pic02::before,
  #picture-3:checked ~ .origin-pic03::before {
    background: black;
    background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(70%, rgba(0, 0, 0, 0)));
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 70%);
  }
  #picture-2:checked ~ .origin-pic02,
  #about-pic-2:checked ~ .about02 {
    z-index: 2;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  #picture-3:checked ~ .origin-pic03,
  #about-pic-3:checked ~ .about03 {
    z-index: 2;
    -webkit-transform: translateX(-30%) scale(1);
            transform: translateX(-30%) scale(1);
  }
  #picture-1:checked ~ .origin-pic02,
  #about-pic-1:checked ~ .about02 {
    -webkit-transform: translateX(30%) scale(0.8);
            transform: translateX(30%) scale(0.8);
  }
  #picture-1:checked ~ .origin-pic03,
  #about-pic-1:checked ~ .about03 {
    -webkit-transform: translateX(-60%) scale(0.8);
            transform: translateX(-60%) scale(0.8);
  }
  #picture-3:checked ~ .origin-pic01,
  #about-pic-3:checked ~ .about01 {
    -webkit-transform: translateX(60%) scale(0.8);
            transform: translateX(60%) scale(0.8);
  }
  #picture-3:checked ~ .origin-pic02,
  #about-pic-3:checked ~ .about02 {
    -webkit-transform: translateX(-30%) scale(0.8);
            transform: translateX(-30%) scale(0.8);
  }
  .flavor {
    padding: 40px 15%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "title pic" "top-text pic" "middle-text pic" "bottom-text pic";
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flavor h2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
    -ms-grid-column-align: start;
        justify-self: start;
    margin-bottom: 20px;
  }
  .flavor .pic {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 2;
    grid-area: pic;
    width: 25vw;
    min-width: 300px;
    height: 25vw;
    min-height: 300px;
    margin-bottom: unset;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .flavor p {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: top-text;
    padding-left: 35px;
  }
  .flavor h4 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: middle-text;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    padding-left: 35px;
  }
  .flavor ul {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: bottom-text;
    padding-left: 35px;
  }
  .certification {
    padding: 40px 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .certification h2 {
    margin-bottom: 40px;
  }
  .certification .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .certification .slider img {
    width: 220px;
    height: 300px;
    margin-bottom: 50px;
    cursor: pointer;
  }
  .certification .slider .items {
    margin: 0 20px;
  }
  .modal-content {
    width: 50vw;
  }
  .modal-content img {
    width: 55vw;
    max-width: unset;
    max-height: unset;
  }
  .modal-content h4 {
    font-size: 30px;
  }
  .about {
    padding: calc(5vw - 10px) 0 0 0;
    position: relative;
    margin-bottom: unset;
  }
  .about .mySwiper {
    display: none;
  }
  .about input {
    display: none;
  }
  .about .about-pictures {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-bottom: calc(5vw - 10px);
  }
  .about label {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    position: relative;
    border-radius: 2%;
  }
  .about label img {
    min-width: 50vw;
    height: 28vw;
    border-radius: 2%;
  }
  .hand-writing {
    position: absolute;
    -webkit-transform: rotate(-15deg) scale(0.8);
            transform: rotate(-15deg) scale(0.8);
    left: 18vw;
    top: 25vw;
    z-index: 3;
  }
  .founders {
    padding: 5% 10%;
  }
  .founders h1 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 50px;
  }
  .founder-block-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .founder-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-pic {
    width: 15vw;
    height: 15vw;
    margin-bottom: 30px;
  }
  .purchase {
    padding: calc(5vw - 10px) 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .purchase h1 {
    margin-bottom: 40px;
  }
  .icon-pair-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .icon-pair-wrap::-webkit-scrollbar {
    height: 5px;
  }
  .icon-pair-wrap::-webkit-scrollbar-track {
    margin: 10px;
  }
  .icon-pair-wrap::-webkit-scrollbar-thumb {
    background-color: #853032;
    border-radius: 20%;
    border: 1px solid slategrey;
  }
  .step07 {
    width: 100%;
  }
  .buy-now {
    position: unset;
  }
  .buy-now button {
    width: calc(10vw + 100px);
    height: 60px;
    font-size: min(max(5vw, 18px), 36px);
  }
  .steps {
    min-width: 207px;
  }
  footer {
    padding: 40px 5%;
    width: 88vw;
    position: absolute;
    right: 0;
  }
  .footer-logo {
    width: 20%;
  }
  .contact {
    width: unset;
  }
  .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer-bottom h4:nth-child(2) {
    margin-right: 20px;
  }
  .footer-top {
    margin-bottom: unset;
  }
  .footer-top h3 {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

/* media query的結尾 */
@media (max-width: 1008px) {
  .product-beans-container,
  .product-bags-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .copywrite-bags {
    margin-right: 0px;
  }
  .flavor p,
  .flavor h4,
  .flavor ul {
    padding-left: 0;
  }
  .certification {
    padding: 40px 0;
  }
  .certification .slider img {
    width: 195px;
    height: 272px;
  }
  .certification .slider .items {
    margin: 0 5px;
  }
}

/* media query的結尾 */
@media (min-width: 1300px) {
  .charity {
    padding: 80px 0 2vh 5%;
    position: relative;
    background-color: unset;
    height: calc( 30vw + 250px);
  }
  .charity img {
    position: absolute;
    width: 65%;
    right: 0;
    border-radius: 2% 0 0 2%;
  }
  .charity .charity-text-wrap {
    width: 45vw;
    padding: 3% 7%;
    position: absolute;
    top: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #efcfbd;
  }
  .charity .charity-text-wrap h1 {
    position: unset;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    text-align: unset;
    margin-bottom: 20px;
  }
}

/*media query的結尾*/
@media (min-width: 1144px) {
  .articles {
    height: 50vw;
    min-height: 900px;
  }
  .articles h1 {
    margin-bottom: 50px;
  }
  .articles .color {
    padding-top: calc(5vw - 10px);
    height: 50vw;
    min-height: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    width: 350px;
    height: 600px;
    padding: 15px;
    border-radius: 3%;
    -webkit-box-shadow: -20px 5px 30px rgba(0, 0, 0, 0.8);
            box-shadow: -20px 5px 30px rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .card h4 {
    font-size: 24px;
    background-color: unset;
    margin-bottom: 20px;
  }
  .card p {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
  .card-container {
    height: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-img-top {
    width: 320px;
    height: 320px;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-right-radius: unset;
    border-top-left-radius: unset;
    border-radius: 5%;
    margin-bottom: 10px;
  }
  .card-body {
    background-color: #f7e1d5;
    padding: 5% 8%;
  }
  .card:not(:first-child) {
    margin-left: -150px;
  }
  .card:hover {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  .card:hover ~ .card {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
}

/*media query的結尾*/
/*# sourceMappingURL=style.css.map */