.navbar{
    background-color: #00183c;
    a{
        color: #f3e7cf;
    }
    img{
    width: 200px;
    height: 30px;
    }
    .navbar-toggler-icon {
        width: 45px;
        height: 26px;
        background-image: url(/素材/toggle-icon-03.png);
    }
}
.banner{
    width: 100%;
    position: relative;
    
    img:last-child{
        position: absolute;
        bottom: 10%;
        right: 5%;
    }
}