@import 'base';

body{
    width: 100%;
}

h1{
    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
}

.navbar{
    background-color: $pirmary-color;
    a{
        color: $secondary-color;
    }
    img{
        width: 200px;
        height: 30px;
    }
    .navbar-toggler-icon {
        width: 45px;
        height: 26px;
        background-image: url(/素材/toggle-icon-03.png);
    }
}
.banner{
    width: 100%;
    position: relative;
    
    img:last-child{
        position: absolute;
        bottom: 10%;
        right: 5%;
    }
}
.introduction{
    width: 100%;
    padding-top: 36px;

    h1{
        text-align: center;
        color: $pirmary-color;
    }
    h1::before{
        @include decoration-bean(30px);
        transform: translateX(-10px);
    }
    .carousel-control-prev-icon{
        background-image: url(/素材/next.svg);
        transform: scaleX(-1);
    }
    .carousel-control-next-icon{
        background-image: url(/素材/next.svg);
    }
    .carousel-indicators li{
        background-color: $text-color;
    }
    .product-beans-container{
        width: 100%;
        display: flex;
        justify-content: center;
        .carousel{
            width: 80%;
        }
    }
}