@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC");
h1 {
  font-weight: 700;
  font-size: 28px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
}

h4 {
  font-weight: 500;
  font-size: 16px;
}

p, li {
  font-weight: 600;
  font-size: 16px;
}

.introduction .product-beans-container button, .introduction .product-bags-container button {
  width: 180px;
  height: 50px;
  background-color: #db946b;
  color: #00183c;
  font-weight: 700;
  font-size: 24px;
  border-radius: 10px;
  border: none;
}

body .fixed .messenger-icon, body .fixed .line-icon, body .fixed .top {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

* {
  font-family: 'Noto Serif TC', serif;
}

body {
  width: 100%;
  min-width: 320px;
  height: 100vh;
  position: relative;
}

body .fixed {
  width: 30px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

body .fixed .messenger-icon {
  background-image: url(/素材/messenger-brown-06.svg);
}

body .fixed .line-icon {
  background-image: url(/素材/line-brown-07.svg);
}

body .fixed .top {
  background-image: url(/素材/top-08.svg);
}

.navbar {
  background-color: #00183c;
}

.navbar a {
  color: #f7e1d5;
  font-weight: 500;
}

.navbar img {
  width: 200px;
  height: 30px;
}

.navbar .navbar-toggler-icon {
  width: 45px;
  height: 26px;
  background-image: url(/素材/toggle-icon-03.png);
}

.banner {
  width: 100%;
  position: relative;
}

.banner img:last-child {
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.introduction {
  width: 100%;
  padding-top: 25px;
  margin-bottom: 35px;
}

.introduction h1 {
  text-align: center;
  color: #00183c;
  margin-bottom: 20px;
  line-height: 28px;
}

.introduction h1::before {
  content: "";
  background-image: url(/素材/coffee-bean-icon-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.introduction .product-beans-container, .introduction .product-bags-container {
  width: 100%;
  padding: 0 10%;
  margin-bottom: 25px;
}

.introduction .product-beans-container .carousel.slide, .introduction .product-bags-container .carousel.slide {
  width: 100%;
  margin-bottom: 25px;
}

.introduction .product-beans-container .carousel.slide .carousel-control-prev-icon, .introduction .product-bags-container .carousel.slide .carousel-control-prev-icon {
  background-image: url(/素材/next.svg);
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.introduction .product-beans-container .carousel.slide .carousel-control-next-icon, .introduction .product-bags-container .carousel.slide .carousel-control-next-icon {
  background-image: url(/素材/next.svg);
}

.introduction .product-beans-container .carousel.slide .carousel-indicators li, .introduction .product-bags-container .carousel.slide .carousel-indicators li {
  background-color: #474747;
}

.introduction .product-beans-container h2, .introduction .product-beans-container h3, .introduction .product-bags-container h2, .introduction .product-bags-container h3 {
  color: #00183c;
}

.introduction .product-beans-container ul, .introduction .product-bags-container ul {
  padding: 0;
}

.introduction .product-beans-container li, .introduction .product-bags-container li {
  color: #474747;
  list-style: none;
  line-height: 35px;
}

.introduction .product-beans-container li::before, .introduction .product-bags-container li::before {
  content: "";
  background-image: url(/素材/coffee-bean-icon-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.introduction .product-beans-container h4, .introduction .product-bags-container h4 {
  color: #853032;
  font-weight: 700;
  margin-bottom: 20px;
}

.introduction .product-beans-container button, .introduction .product-bags-container button {
  margin: 0 auto;
  display: block;
}

.origin {
  width: 100%;
  background-color: #e7e1dc;
  padding: 15px 0;
}

.origin h2 {
  text-align: center;
  color: #00183c;
  margin-bottom: 15px;
}

.origin h2::before {
  content: "";
  background-image: url(/素材/coffee-bean-icon-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.origin .explanation {
  padding: 0 10%;
}

.origin .explanation * {
  color: #853032;
}

.origin .pictures {
  height: 185px;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.flavor {
  width: 100%;
  padding: 40px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flavor .pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url(/素材/flavor.jpg);
  background-position: 0;
  background-size: cover;
  margin-bottom: 30px;
}

.flavor h2 {
  text-align: center;
  color: #00183c;
}

.flavor h2::before {
  content: "";
  background-image: url(/素材/coffee-bean-icon-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.flavor p {
  color: #00183c;
}

.flavor h4 {
  font-weight: 600;
  color: #853032;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.flavor ul {
  padding-left: 0px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.flavor li {
  list-style: none;
  color: #853032;
}

.flavor li::before {
  content: "";
  background-image: url(/素材/coffee-bean-icon-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  background-image: url(/素材/coffee-bean-icon-red-10.svg);
}

.certification {
  padding: 25px 0 35px 0;
  background-color: #c0a898;
}

.certification * {
  color: white;
}

.certification h2 {
  text-align: center;
  margin-bottom: 30px;
}

.certification h2::before {
  content: "";
  background-image: url(/素材/coffee-bean-icon-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(/素材/coffee-bean-icon-white-09.svg);
  margin-right: 10px;
}

.certification .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow-x: scroll;
}

.certification .slider::-webkit-scrollbar {
  height: 5px;
}

.certification .slider::-webkit-scrollbar-track {
  margin: 10px;
}

.certification .slider::-webkit-scrollbar-thumb {
  background-color: #853032;
  border-radius: 20%;
  border: 1px solid slategrey;
}

.certification .slider input {
  display: none;
}

.certification .slider .cover {
  width: 200px;
  height: 100px;
  background-color: black;
}

.certification .slider .items {
  display: inline-block;
  margin: 0 10px;
}

.certification .slider h4 {
  text-align: center;
}

.certification .slider img {
  width: 195px;
  height: 272px;
}

.certification .modal-dialog {
  position: relative;
}

.certification .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-color: transparent;
  width: 95vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.certification .modal-content img {
  width: 95%;
  max-width: 435px;
  max-height: 80vh;
}

.certification .modal-title {
  color: white;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */